<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="poly.persistance.mapper.BoardMapper">

<insert id="insertBoardInfo" parameterType="BoardDTO">
INSERT INTO BOARD (TITLE, CONTENT, REG_DT, BOARD_SEQ)VALUES(
#{title}, #{content}, SYSDATE, BOARD_SEQ.NEXTVAL)

</insert>

</mapper>