<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.EventMapper">
	<!-- 이벤트 리스트 쿼리 -->
	<select id="getAllEvent" resultType="EventDTO">
		SELECT EVENT_SEQ, EVENT_TITLE, EVENT_CONTENT, EVENT_UPLOADNAME, EVENT_CNT, EVENT_UPDAY FROM EVENT ORDER BY EVENT_SEQ DESC
	</select>
	
	
	<!-- 이벤트 상세 -->
	<select id="getEventDetail" parameterType="EventDTO" resultType="EventDTO">
		SELECT EVENT_SEQ, EVENT_TITLE, EVENT_CONTENT, EVENT_UPLOADNAME, EVENT_CNT, EVENT_UPDAY FROM EVENT WHERE EVENT_SEQ=#{event_seq}
	</select>
	
	
	<!--  이벤트 작성 쿼리 -->
	<insert parameterType="EventDTO" id="insertEvent"> 
		INSERT INTO EVENT
		 ( 
		 	EVENT_SEQ, EVENT_TITLE, EVENT_CONTENT, EVENT_UPLOADNAME, EVENT_UPDAY, EVENT_CNT 
		 ) 
		 VALUES 
		 ( 
		 	EVENT_SEQ.NEXTVAL, #{event_title}, #{event_content}, #{event_uploadname}, SYSDATE, 0
		 ) 
	</insert>
	
	<!--  이벤트 수정 쿼리 -->
	<update id="updateEvent" parameterType="eventDTO">
		UPDATE EVENT SET EVENT_TITLE=#{event_title}, EVENT_CONTENT=#{event_content}, EVENT_UPDAY=SYSDATE, EVENT_UPLOADNAME=#{event_uploadname} WHERE EVENT_SEQ=#{event_seq}
	</update>
	
	<!--  이벤트 수정 쿼리 -->
	<update id="updateEventCnt" parameterType="eventDTO">
		UPDATE EVENT SET EVENT_CNT=EVENT_CNT + 1 WHERE EVENT_SEQ=#{event_seq}
	</update>
	
	<!--  이벤트 삭제 쿼리 -->
	<delete id="deleteEvent" parameterType="EventDTO">
		DELETE FROM EVENT WHERE EVENT_SEQ=#{event_seq}
	</delete>
</mapper>